html{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}

body{
    padding: 0%;
    margin: 0%;
    height: 100vh;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    box-sizing: border-box;
}


header{
    width: 100%;
    height: 8%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: right;
}

nav ul{
    list-style: none;
    width: 250px;
    padding: 0;
    margin: 0;
    margin-right: 30px;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

nav ul li{
    margin-left: 10px;
}

.menu-icon{
    background-image: url(https://static.thenounproject.com/png/756729-200.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

.imagen-perfil{
     border-radius: 50%;
}

nav ul li a{
    color: black;
    text-decoration: none;
}

main{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo img{
    width: 350px;
}

main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input{
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

main .main-input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

main .main-input .search-icon{
    background-image: url('https://img.icons8.com/android/24/000000/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

main .main-input .micro-icon{
    background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

main .main-buttons{
     width: 530px;
     margin: 0 auto;
}

main .main-buttons div{
    display: inline-block;
}

main .main-buttons button{
    height: 36px;
    background-color: #f2f2f2;
    border: 0;
    font-size: 1.4rem;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px;
}

main .main-buttons button:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    color: #222;
    background-color: #f8f8f8;
}


footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 1.3rem;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer .footer-left{
    justify-self: left;
}

footer .footer-right{
    justify-self: right;
}

footer ul li a{
    margin: 10px;
    color: #5f6368;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

